---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, ...attributes } = Astro.props;
---

<a href={href} {...attributes}>
  <slot /><svg class="icon slide"><use xlink:href="#external-link"></use></svg>
</a>
