---
import Pattern from './Pattern.astro';

interface Props {
  actives?: Set<number>;
  rows: number;
  style?: string;
}

let { actives, rows, style } = Astro.props;

const nCol = 7;
const nRow = rows;

if (!actives) {
  actives = new Set(
    [...Array(32).keys()]
      .map((i) => {
        return Math.random() < 0.25 ? i : null;
      })
      .filter((x) => x !== null),
  );
}
---

<div id="grid" style={style || ''}>
  <Pattern actives={actives} nCol={nCol} nRow={nRow} />
</div>

<style define:vars={{ nCol, nRow }}>
  #grid {
    display: grid;
    width: 100%;
    color: var(--color-secondary);
    overflow-x: hidden;

    & :global(svg) {
      width: 100vw;
    }
  }

  @media (max-width: 770px) {
    #grid :global(svg) {
      width: calc(10 * 100vw / var(--nCol));
    }
  }

  @media (max-width: 500px) {
    #grid :global(svg) {
      width: calc(14 * 100vw / var(--nCol));
    }
  }
</style>
