---
import Pattern from './Pattern.astro';

interface Props {
  actives?: Set<number>;
  rows: number;
}

let { actives, rows } = Astro.props;

const nCol = 7;
const nRow = rows;

if (!actives) {
  actives = new Set(
    [...Array(32).keys()]
      .map((i) => {
        return Math.random() < 0.25 ? i : null;
      })
      .filter((x) => x !== null),
  );
}
---

<div id="grid">
  <Pattern actives={actives} nCol={nCol} nRow={nRow} />
</div>

<style define:vars={{ nCol, nRow }}>
  #grid {
    display: grid;
    width: 100%;
    color: var(--color-secondary);

    & :global(svg) {
      width: 100%;
      max-width: 100vw;
    }
  }
</style>
