---
import NavLink from '../components/NavLink.astro';
import Nav from '../components/Nav.astro';

const isHome = Astro.url.pathname === '/';
const aspectRatio = isHome ? 1 : 550 / 120;
---

<header class="flex-row">
  <a id="logo" class="no-effect" href="/" aria-label="homepage">
    <svg><use xlink:href={isHome ? '#logo-mark' : '#logo'}></use></svg>
  </a>
  <Nav>
    <NavLink href={isHome ? '#projects' : '/#projects'}>Projects</NavLink>
    <NavLink href="/members">Members</NavLink>
    <NavLink href="/faq">FAQ</NavLink>
    <NavLink href="/about">About</NavLink>
  </Nav>
</header>

<style define:vars={{ aspectRatio }}>
  header {
    background: var(--color-primary);
    height: var(--height-header);
    padding: var(--gap-md);
    width: 100%;
    justify-content: center;

    top: 0;
    position: sticky;
    z-index: 99;

    & > a#logo {
      --height-logo: calc(var(--height-header) - 2 * var(--gap-md));
      display: inline-block;
      position: absolute;
      top: var(--gap-md);
      left: var(--gap-md);
      color: var(--color-secondary);

      &:hover > svg {
        right: unset;
      }

      & > svg {
        height: var(--height-logo);
        width: calc(var(--aspectRatio) * var(--height-logo));
      }
    }
  }
</style>
