---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, title, class: className, ...attributes } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];
---

<li>
  <a
    href={href}
    data-title={title}
    class:list={[className, { active: isActive }]}
    {...attributes}>
    {title}
  </a>
</li>
